/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.maincontener{
    width: 100%;

    
}
.rp{
    width: 100%;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    padding-left: 10px;
}
.rp2{
    display: flex;
    background-color: black;
    color: white;
    gap: 15px;
    /* padding-left: 100px; */
    font-size: 1.1rem;


}
.king{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    /* padding: 0; */
    z-index: 1;

}
.bi{
    padding-top: 20px;
    padding-right: 10px;
    
}
.rp2 p:hover{
    color: palevioletred;
}
.bi:hover{
    color: palevioletred;
}
.rts{
    width: 100%;
    height: 100%;


}
.rts>img{
    width: 100%;
    position: absolute;
    /* height: 100%; */
    top: 0;


}
.rps>p{
    font-size: 15rem;
    color: white;
    position: relative;
    top: 100px;
    padding-left: 200px;
    
}
.mp{
 color: white;
 font-size: 2rem;
 position: absolute;
 padding-left: 700px;
top: 420px;
}
.mp2:hover{
    color: black;

}
.mp2{
    background-color: palevioletred;
    border-radius:15px;
    font-size: 1.5rem;
    height: 40px;
    width: 120px;
    padding-left: 30px;
    padding-top: 13px;
}
.pm{
    position: absolute;
    padding-left: 100px;
}
.pm>img{
    width: 1200px;
    height: 300px;
}
.container2{
    width: 100%;
    display: flex;
    padding-top: 400px;
}
.kp{
text-align: start;
padding-left: 250px;

}
.kp h2,li,p1{
    text-align: center;
    font-size: 1.2rem;
    text-align: start;
    /* color: gray; */
}li,p1{
    color: gray;
}

.kp2>img{
    padding-left: 80px;
    width: 600px;
    height: 400px;
}
.container3{
    width: 100%;
    display: flex;
    padding-top: 120px;
}
.mn>img{
 padding-left: 250px;
 width: 600px;
 height: 400px;
}
.mn2 h2,p3{
    text-align: center;
    font-size: 1.2rem;
    text-align: start;
    color: gray;
}
.mn2{
    text-align: start;
    padding-left: 50px;
    padding-top: 100px;
}
.mn3{
    background-color: palevioletred;
    font-size: 1.2rem;
    border-radius: 20px;
    padding-left:10px;
    padding-top: 10px;
    width: 50px;
    height: 120px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
}
.mn3:hover{
    color: black;
}
.container4{
    width: 100%;
    display: flex;
    padding-left: 250px;
    padding-top: 120px;
}
.ki h2,p5{
    font-size: 1.2rem;
    color: grey;
}
.kl2>img{
    padding-left: 80px;
    width: 600px;
    height: 400px;
}
.kcr>img{
    width: 1600px;
    padding-top: 120px;
    position: absolute;
}
.kcpd{    
    position: relative;
    padding-top: 800px;
    padding-left: 350px;
    font-size: 1.6rem;

}
h4{
    background-color: white;
    width: 800px;
    height: 200px;
    padding-left: 100px;
    padding-top: 80px;
}
.ku h2,p6{
    font-size: 1.6rem;
    text-align: start;
    padding-top: 50px;

    
}
.ku{
    font-size: 1.2rem;
    padding-left: 300px;
    /* text-align: center; */
    text-align: start;
}
p6{
    color: gray;
    font-size: 1.4rem;
}
.container5{
    width: 100%;
    display: flex;
    padding-top: 100px;
}
.pk>img{
    padding-left: 200px;
    width: 600px;
    height: 400px;
}
.kp2  h2,p7{
text-align: start;
font-size: 1.2rem;

}
.pk2{
    padding-left: 50px;
    padding-top: 50px;
}
.container6{
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
}
.rg{
    padding-left: 250px;
    font-size: 1.2rem;
    padding-top: 50px;
}
.rg2>img{
    width: 600px;
    height: 400px;
    padding-left: 50px;
    padding-bottom: 70px;
}
p8{
    color: gray;
}
.not{
    width: 1200px;
    height: 500px;
    background-color:rgb(175, 76, 157);
    padding-left: 400px;
    
}
.no{
    font-size: 2rem;
    padding-top: 250px;
    color: white;
}
.pt{
    
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color:white;
    color: black;

}
.pt:hover{
    color:yellow;
}
.rpm>img{
    width: 100%;
    height: 700px;
    position: absolute;
    /* padding-top: 10px; */
}
.rrr{
    position: relative;
    color: black;
    padding-left: 550px;
    padding-top: 100px;
    font-size: 1.2rem;
}
.ntr{
    position: relative;
    color:black;
    display: flex;
    padding-left: 450px;
    font-size: 1.2rem;
}
.rrr>h2{
    padding-left: 130px;
}
.mmk{
    position: relative;
    padding-left: 500px;
    padding-bottom: 50px;
    
    
}
input{
    width: 500px;
    height: 40px;
    background-color: gray;
    color: white;
}
button{
    width: 500px;
    height: 50px;
    background-color: palevioletred;
    color: white;
    border-radius: 20px;
    
}
button:hover{
    background-color:gray;

}
.ddl{
    padding-top: 200px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    height: 300px;
    position: absolute;
}
.srh{
    padding-left: 140px;
}
.srh2{
    padding-left: 140px;
}
.srh3{
    padding-left: 160px;
}
.mi{
    font-size: 1.5rem;
}
.csk{
    position: relative;
    color: white;
    padding-left: 650px;
    padding-top: 400px;
    
}
